body{
    background: linear-gradient(#5d4eb8, #261e54);
    color: #c8c3c3;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    animation: start 2s;
}

html {
    scroll-behavior: smooth;
}

header{
    margin-bottom: 60px;

   text-align: center;
   font-size: 25px;

       position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #41377f;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
}

a{
    color:#c8c3c3;
    text-decoration: none;
    margin-right: 10px;
    
}

a:hover{
    text-decoration: underline;
}

h1{
    display: block;
    width: 250px;


    background: linear-gradient(45deg, #41377f, #4d4296);
    border-radius: 10px;
    font-weight: 600;
    font-size: 35px;
    margin: 24px auto;
    margin-bottom: 60px;
    padding: 10px;
    text-shadow: 0 0 15px #34d6ff;
    
}

.gamesh1{
    display: block;
    width: 150px;

    background: linear-gradient(45deg, #41377f, #4d4296);
    border-radius: 10px;
    font-weight: 600;
    font-size: 40px;
    margin: 24px auto;
    padding: 10px;
    text-shadow: 0 0 15px #34d6ff;
}

.uberh1{
    display: block;
    width: 350px;

    background: linear-gradient(45deg, #41377f, #4d4296);
    border-radius: 10px;
    font-weight: 600;
    font-size: 35px;
    margin: 24px auto;
    padding: 10px;
    text-shadow: 0 0 15px #34d6ff;
}


.games{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.NGG{
background:
    linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/icon.png);
    background-size: cover;
    border-radius: 5%;
    
    height: 400px;
    width: 430px;

    transition: 0.3s;
}

.NGG:hover{
    transform: scale(1.05) translateY(-8px);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.react{
background:
    linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/reacticon.png);
    background-size: cover;
    border-radius: 5%;
    
    height: 400px;
    width: 400px;
    
    transition: 0.3s;
}

.react:hover{
    transform: scale(1.05) translateY(-8px);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.snake{
background:
    linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/snake.png);
    background-size: cover;
    border-radius: 5%;
    
    height: 400px;
    width: 400px;
    
    transition: 0.3s;
}

.snake:hover{
    transform: scale(1.05) translateY(-8px);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.aim{
background:
    linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/aim.png);
    background-size: cover;
    border-radius: 5%;
    
    height: 400px;
    width: 400px;

    transition: 0.3s;
    
}

.aim:hover{
    transform: scale(1.05) translateY(-8px);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

@keyframes start {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}