body{
    background-color: #5a4db2;
    color: rgb(0, 0, 0);
    font-size: 24px;
}



h1{
    display: block;
    width: 250px;

    background: linear-gradient(45deg, #41377f, #4d4296);
    border-radius: 10px;
    font-weight: 600;
    font-size: 35px;
    margin-right: 10px;
    padding: 10px;
    text-shadow: 0 0 15px #34d6ff;
    
}

h2{
    display: block;
    width: 200px;

    background: linear-gradient(45deg, #41377f, #4d4296);
    border-radius: 10px;
    font-weight: 600;
    font-size: 35px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 8px;
}

button{
    height: 55px;
    width: 220px;
    font-size: 27px;
    background-color: #41377f;
    margin: 20px auto;
    transition: 0.3s;

}

button:hover{
    box-shadow: 0 0 15px #4d4296;
}


#target{
    position:absolute;
    width:80px;
    height:80px;
    background:red;
    border-radius:50%;
    cursor:pointer;
}